page-eventos {

 

    .flex-center-vertically {
        display: flex;
        justify-content: center;
        flex-direction: column;
       
      }

      .imagem-card {
        object-fit: cover; 
        height: 100px;
        width: 100%;
      }
      ion-card-content{
        border-top: 1px solid gray;
      }
     ion-card{
        align-items: top;
      }
      .bg-style {
        background: rgb(31, 31, 31);
    }
    
     
}
