page-eventos {

 

    .flex-center-vertically {
        display: flex;
        justify-content: center;
        flex-direction: column;
       
      }
      .left{
        text-align:left;
   }

      .imagem-card {
        object-fit: cover; 
        height: 100px;
        width: 100%;
      }
      ion-card-content{
        border-top: 1px solid rgb(228, 228, 228);
      }
     ion-card{
        align-items: top;
      }
      .bg-style {
        background: rgb(78, 78, 78);
    }
    
     
}
