<ion-header>
  <ion-item style="background-color:whitesmoke">

    <button style="background-color: whitesmoke; color:#292929" ion-button round item-start>Data</button>
    <button style="background-color: whitesmoke; color:#292929" ion-button round item>Localização</button>
  </ion-item>
</ion-header>



<ion-content>


  <ion-list>
    <ion-card *ngFor="let item of eventos;  let i = index" style="background-color:rgb(112, 150, 255)">
      <img class="imagem-card" src={{item.imagem}}>
      <ion-card-content>
        <ion-card-title>
          {{item.nome}}
        </ion-card-title>
        <p>
          Horario: {{item.horario}}
        </p>
        <p>
          Preço: {{item.preco}}
        </p>

      </ion-card-content>

      <ion-card-content *ngIf="item.open">
        <h3>Descrição:</h3>
        <p>{{item.descricao}}</p>
      </ion-card-content>
      <ion-col text-center>
        <button ion-button clear small color="dark" icon-start *ngIf="!item.open" (click)="toggleSection(i)" [ngClass]="{'section-active': item.open, 'section': !item.open}">
          <ion-icon color="black" name='paper'></ion-icon>
          Detalhes
        </button>
        <p></p>
        <button ion-button clear small color="dark" icon-start *ngIf="item.open" (click)="toggleSection(i)" [ngClass]="{'section-active': item.open, 'section': !item.open}">
          <ion-icon color="black" name='paper'></ion-icon>
          Menos detalhes
        </button>
        <p></p>
        <a button ion-button clear small color="dark" icon-start *ngIf="item.open" href="{{item.info}}" target="_blank">
          <ion-icon color="black" name='information-circle'></ion-icon>
          Informações
        </a>
        <p></p>
        <a button ion-button clear small color="dark" icon-start *ngIf="item.open" href="{{item.linkmaps}}" target="_blank">
          <ion-icon color="black" name='pin'></ion-icon>
          Localização
        </a>
      </ion-col>
    </ion-card>


  </ion-list>
</ion-content>