page-eventos {

 

    .flex-center-vertically {
        display: flex;
        justify-content: center;
        flex-direction: column;
       
      }

      .imagem-card {
        object-fit: cover; 
        height: 150px;
        width: 100%;
      }
    
     
}
