page-locais {

}

.grid-basic-page {

    ion-col div {
      background-color: #f0f5ff;
      border: 1px solid #e6e9ee;
      border-radius: 2px;
      padding: 5px;
      text-align: center;
    }
    
  
  
    p {
      padding: 10px 0 0 10px !important;
      margin: 0;
    }
  
  }

  .bg-style {
    background: rgb(78, 78, 78);
}

.imagem-tipo-local{
 
  max-width: 100%;
  display: block;
  
 
}

ion-row {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 27% 0 0 0; /* 34.37% = 100 / (w / h) = 100 / (640 / 220) */
}

